target/
!.mvn/wrapper/maven-wrapper.jar
logs/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/bin/
src/main/resources/generator/generatorConfig.xml
/test-output/
/generator/
### LibreOffice template
# LibreOffice locks
.~lock.*#

### MicrosoftOffice template
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

